.tile{
    
    .bl{
        height:190px;
        margin:60px 30px 25px 30px;
    }
}

$search: #00BCD4 2px solid;

.searchBar{
    width: 550px;
    margin:auto;
    margin-top: 80px;

    .input{
        border: $search;
    }

    .button{
       border: $search; 
    }
   
}

$text-color: #ffffff;
.newsBar{
    background-color: #00BCD4;

    .navBrand{
        color: $text-color;
    }

    .home{
        color: $text-color;
    }
}

.active{
    font-weight: bold
}

.ml-auto{
    a{
        text-decoration: none;
        color:#ffffff;
    }
}

h1{
    text-transform: uppercase;
    margin: -8px 0 0 200px;
}

.order{
    margin-right: 60px;
    width: 250px;

    select{
        border: #00BCD4 2px solid;
    }
}

$color: #00BCD4;
$margin-top: 60px;

div{
    .left{
        float:left;
        color: $color;
        margin-top: $margin-top;
    }
    .right{
        float: right;
        margin-top: 60px;
    }
}

.clear{
    clear:both;
}

.news-frame{
    margin: 50px 0 90px 70px;
    .headline{
        height: 650px;

    }

}

.title{
    font-size: 12px;
}

.subtitle{
    font-size: 10px;
    font-style: italic;
}

.logobtn{
    width: 250px;
    margin:auto;
}

.desc{
    font-size: 10px;   
}

.category{
    text-transform: capitalize;
}