.tile{
    
    .bl{
        height:190px;
        margin:60px 30px 25px 30px;
    }
}

$search: #00BCD4 2px solid;

.searchBar{
    width: 550px;
    margin:auto;
    margin-top: 80px;

    .input{
        border: $search;
    }

    .button{
       border: $search; 
    }
   
}

$text-color: #ffffff;
.newsBar{
    background-color: #00BCD4;

    .navBrand{
        color: $text-color;
    }

    .home{
        color: $text-color;
    }
}

.active{
    font-weight: bold
}

.ml-auto{
    a{
        text-decoration: none;
        color:#ffffff;
    }
}

h1{
    text-transform: uppercase;
    margin: -8px 0 0 200px;
}

.order{
    margin-right: 60px;
    width: 250px;

    select{
        border: #00BCD4 2px solid;
    }
}

$color: #00BCD4;
$margin-top: 60px;

div{
    .left{
        float:left;
        color: $color;
        margin-top: $margin-top;
    }
    .right{
        float: right;
        margin-top: 60px;
    }
}

.clear{
    clear:both;
}

.news-frame{
    margin: 50px 0 90px 70px;
    .headline{
        height: 650px;
    }

}

.title{
    font-size: 12px;
}

.subtitle{
    font-size: 10px;
    font-style: italic;
}

.desc{
    font-size: 10px;   
}

.category{
    text-transform: capitalize;
}

.home-view{
    background-color: #222222;
    height:800px;
   
}

.tron{
    background-color:  #000000;

    .logobtn{
        width: 160px;
        height:30px;
        background: url('./imgs/login-btn.jpg') center center;
        background-size: cover;
        background-color: #D94D38;
        margin:50px 0 0 120px;
    }

    span{
        color: #E6E6E7;
        margin: 10px 0 0 300px;
        font-size: 12px;
    }
}

.sub-view{
    margin: 130px 0px 80px 330px;
    width: 600px;
    background-color: #373C40;
    height: 300px;
    border-radius: 10px;
}

.app-name{
    color:#E6E6E7;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 
       Segoe UI, Roboto, Helvetica Neue, Arial, "sans-serif";
    margin:70px 50px 0 210px;
    display:inline-block;
}

.l-right{
    color: #E6E6E7;
    p{
        margin:35px 0 0 60px;
        vertical-align: middle;
    }
}

.home-link{
    margin-right: 30px;
}